@use "../../colors/colors.scss";

.news-card {
  background: colors.$color-white;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 2rem colors.$color-grey-2;
  }

  .news-card__image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }

  .news-card__content {
    display: flex;
    flex-direction: column;
    padding: 1.6rem 1.3rem;

    .news-card__heading {
      margin: 0px;
      color: colors.$color-black;
      font-size: 2.2rem;
      margin-bottom: 0.6rem;
    }

    .news-card__author {
      color: colors.$color-grey;
      font-size: 1.6rem;
    }
  }
}
