.heading-label {
  span {
    font-size: 1.8rem;
    font-weight: 400;

    &::after {
      content: "__________";
      font-weight: 700;
      position: relative;
      top: -3px;
      letter-spacing: -0.4px;
      display: inline-block;
      margin-left: 2rem;
    }
  }

  h1 {
    margin-top: 1.3rem;
  }
  h2,
  h3 {
    margin-top: 1.1rem;
  }
}
