@use "../colors/colors";

html {
  font-size: 62.5%;
}

h1,
h2,
h3 {
  font-family: "Lora", "Times New Roman", Times, serif;
  color: colors.$color-primary;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

p,
a,
button {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

p {
  font-size: 1.5rem;
  color: colors.$color-grey;
}
