@use "../colors/colors";
@use "fonts-families" as families;

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4 {
  font-family: families.$family-primary;
  color: colors.$color-primary;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.8rem;
  font-weight: 400;
}

p,
a,
button,
span {
  font-family: families.$family-secondary;
}

p {
  font-size: 1.5rem;
  color: colors.$color-grey;
}
