$color-primary: #10375c;
$color-secondary: #0d2c4a;
$color-adjecent: #ff5722;
$color-adjecent-darker: #dd2c00;

$color-white: #fff;
$color-black: #222831;
$color-grey-3: #f8f8f8;
$color-grey-2: #dfdfdf;
$color-grey-1: #c4c4c4;
$color-grey: #9a9a9a;
