@use '../../colors/colors.scss';

.btn-more-arrow {
  color: colors.$color-adjecent;

  &:after {
    content: ">";
    margin-left: 1.5rem;
    transition: margin 0.2s;
  }

  &:hover {
    &:after {
      margin-left: 1rem;
    }
  }
}
