/* General button styles */
.btn {
  background: transparent;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  display: inline;
  font-weight: 400;
  outline: none;
  text-decoration: none;
}
