/** styles **/
@use 'util/normalize';
@use 'util/general';
@use 'fonts/fonts';

/** Button components **/
@use 'components/buttons/button';
@use 'components/buttons/button-more-arrow';
@use 'components/buttons/button-rectengular';
@use 'components/buttons/button-modifiers';

/** Heading with top label **/
@use "components/headings/heading-label";

/** Card components **/
@use "components/cards/card";
@use "components/cards/customer_review_card";
@use "components/cards/qna-card";
@use "components/cards/news-card";

/** authors-details **/
@use "components/others/author-details";

/** toggler **/
@use "components/others/toggler";
